.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.header__left {
    flex: .5;
    background-color: white;
    display: flex;
    align-items: center;
    color: grey;
    padding: 10px 15px;
    border-radius: 99px;
    min-width: 80px;
}
.header__left input {
    border: none;
    height: 30px;
    width: 100%;
}

.header__left input:focus {
    outline: none;
}

.header__right{
    display: flex;
    align-items: center;
}
.header__right h4 {
    margin-left: 15px;
}