.login {
    background-color: black;
    display: grid;
    place-items:center;
    height: 100vh;
    width: 100%;
}

.login > button {
    background-color: #1db954;
    padding: 20px;
    border-radius: 100px;
    font-weight: 800;
    text-transform: uppercase;
}

.login > button a {
    color: white;
    text-decoration: none;
}
