.player__container {
    display:flex;
}
.player__sidebar {
    border: 1px solid black;
    flex: 0.2;
    min-width: 237px;
    height: calc(100vh - 65px);
    background-color: black;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}
.player__sidebar img {
    height: 70px;
    padding: 15px;
    padding-left: 0;
    margin-right: auto;
}
.player__body {
    flex: 0.8;
    background: linear-gradient(rgb(91, 87, 115), rgb(0, 0, 0, 1));
    padding: 30px;
    height: calc(100vh - 65px);
    color: white;
    max-height: 100vh;
    overflow-y: scroll;
}
.player__footer {
    height: 65px;
    background-color: rgb(46, 46, 46);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.player__footer div {
    padding:0 20px;
}
.footer__icon {
    color: rgb(121, 121, 121);
}
.footer__middle {
    max-width: 300px;
    justify-content: space-between;
    margin: 0 80px;
    flex: 0.4;
    align-items: center;
    display: flex;
}
.footer__left, .footer__right {
    flex: 0.3;
    display: flex;
    align-items: center;
}
.footer__left {
    width: 300px;
}
.footer__right {
    margin-top: 10px;
}
.footer__green {
    color: rgb(12, 206, 12) !important;
}
.player__footer img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-right: 10px;
}
.footer__icon:hover {
    transform: scale(1.2);
    cursor:pointer;
    transition: .2ms ease-in-out transform;
}
.song__title {
    font-weight: 500;
    color: white;
}
.song__author {
    font-size: 12px;
    color: white;
}

.body__info {
    display: flex;
    padding: 30px 20px;
    align-items: flex-end;
    gap: 1.5rem;
    margin-top: 1.5rem;
}
.body__info img {
    height: 20vw;
    object-fit: contain;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body__info__text h2{
    font-size: 58px;
    margin-bottom: 20px;
}

.body__info__text p {
    display: flex;
    gap: .6rem;
}

.body__core {
    padding: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), transparent);
}
.body__core__header {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 20px;
}
.core__icon {
    font-size: 80px !important;
}
