.player__container {
    display:flex;
}
.player__sidebar {
    border: 1px solid black;
    flex: 0.2;
    min-width: 237px;
    height: calc(100vh - 65px);
    background-color: black;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}
.player__sidebar img {
    height: 70px;
    padding: 15px;
    padding-left: 0;
    margin-right: auto;
}
.player__body {
    flex: 0.8;
    background: linear-gradient(rgb(91, 87, 115), rgb(0, 0, 0, 1));
    padding: 30px;
    height: calc(100vh - 65px);
    color: white;
}
.player__footer {
    height: 65px;
    background-color: gray;
    position: fixed;
    bottom: 0;
    width: 100%;
}